.content {
    color: #fff;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    height: auto;
    scroll-behavior: smooth;
    overflow: scroll;
}

.content__playlist__song {
    display: block;
    font-size: 13px;
    padding: 10px;
    text-align: left;
    text-overflow: ellipsis;
    margin: 0 auto;
    cursor: pointer;
    justify-content: center;
    border-bottom: 1px solid darkgrey;
    background-color: #111;
    background-image: linear-gradient(to right, #262626, #3b3b8a);
}

.content__playlist__song:hover {
    background-image: linear-gradient(to right, #040404, #262626);
}

.content__playlist {
    scroll-behavior: smooth;
    overflow: scroll;
    max-height: 400px;
}

.center {
    margin: auto;
    width: 95%;
    padding: 10px;
}

.content__header {
    display: flex;
    flex: 1;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    justify-content: center;
    padding: 6px;
}

.content__header__init {
    display: block;
}

.active {
    color: #fff;
    background-image: linear-gradient(to right, #cc2e5d, #ff5858);
}

.selected {
    color: #fff;
    background-image: linear-gradient(to right, #5A6782, #262626);
}

.content__headerIcon {
    font-size: 2rem;
    ;
}

.content__icon {
    font-size: 2rem!important;
}

.song__artist,
.song__album {
    font-size: 0.8rem;
    font-weight: 400;
    color: darkgrey;
    text-overflow: ellipsis;
    display: inline;
}

.song__delimiter {
    color: darkgrey;
}

.content__message {
    font-style: italic;
}

.content__message__small {
    font-size: small;
    color: darkgrey;
    font-style: italic;
}

.linebreak {
    display: block!important;
}

.song__artist__album {
    font-size: 0.8rem;
    font-weight: 400;
    color: darkgrey;
    text-overflow: ellipsis;
    display: block!important;
}

.content__currentSongInfo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left
}

.dim-white {
    color: #f5f5f5 !important;
}

.content__currentSongTitle {
    display: flex;
    vertical-align: middle;
    text-align: center;
}

.content__currentSongTitle__audioLoader {
    margin-top: -3px;
}

.content__playlist__audioLoader {
    display: inline;
}

.content__song__thumbnail {
    right: 20px;
    width: 30px;
    object-fit: contain;
    justify-content: flex-start;
    margin-top: -7px;
}

.content__currentSongTitleElements {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.hide {
    display: none!important;
}

.MuiNativeSelect-root {
    margin-left: 7px!important;
    color: #111!important;
    font-size: 0.8rem!important;
    padding: 5px !important;
}

.MuiNativeSelect-root>option {
    color: #111!important;
    font-size: 0.8rem!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}

.content__audio__quality {
    font-size: small!important;
    margin-top: -10px!important;
}

#audio-quality-helper {
    color: darkgrey!important;
    font-size: small!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
}

.content__audio__quality__icon {
    color: darkgrey!important;
    margin-top: -2px!important;
}

.content__duration,
.content__shareIcon,
.content__favoriteIcon,
.content__moreOptionsIcon {
    color: darkgrey!important;
    font-weight: normal!important;
    font-size: small!important;
}

.content__FavoritesIcon {
    color: darkgrey!important;
    font-weight: normal!important;
    margin-top: -5px !important;
    font-size: small!important;
}

.content__duration__icon {
    vertical-align: middle
}

.content__actions {
    display: flex;
    float: right!important;
    font-size: small!important;
    margin-top: -20px!important;
}

a {
    text-decoration: none;
    color: #fff;
}

.content__song__title__1 {
    margin-left: 4px!important;
    padding: 2px!important;
    vertical-align: middle!important;
}

.content__song__title__0 {
    display: flex!important;
    margin-left: 3px!important;
}

.content__song__metadata {}

.content__song__metadata__icon {
    font-size: 0.8rem;
    font-weight: 400;
    color: darkgrey;
}