.makeStyles-copyContainer-5 {
    display: none !important;
}

.share__logo {
    width: 140px;
    object-fit: contain;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 50%
}

.dialog__title {
    top: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.Demo__some-network {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.dialog__some-network__share-count {
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    overflow: visible;
    width: 0;
    margin-top: 3px;
    font-size: 12px;
}

.dialog__some-network__share-button {
    cursor: pointer;
    padding: 5px!important;
}

.dialog__some-network__share-button:hover:not(:active) {
    opacity: 0.75;
}

.dialog__some-network__custom-icon {
    width: 32px;
    height: 32px;
}

.dialog__share__container {
    display: flex!important;
    padding: 5px;
}

.MuiDialog-paperScrollPaper {
    background-image: linear-gradient(to right, #262626, #3b3b8a)!important;
    color: white!important;
}

.dialog__button {
    color: white !important;
    font-weight: normal!important;
}